table {
    border-collapse: collapse;
}
    table, td, th {
    border: 1px solid #ddd;
    text-align: left;
}
th, td {
    padding: 8px;
}
th {
    background-color: #4CAF50;
    color: white;
}
tr:hover{background-color:#D3D3D3}

body {
  text-align:center;
}
table.table_on_the_left, table.table_on_the_right {
  display:inline-block;
}
table {
    border-collapse: collapse;
}
table, td, th {
    border: 1px solid #ddd;
    text-align: left;
}
th, td {
    padding: 8px;
}
th {
    background-color: #4CAF50;
    color: white;
}
tr:hover{background-color:#D3D3D3}
