{% extends 'base.html' %}

{% block content %}

    <h1 align="center"> Daily Trailer Schedule Optimizer</h1>
    <h6 align="center"> Uses Trailer Weight System to Minimize the Total Weight in Rigging Line at All Times</h6>
        <div style="text-align:center">
            <img src="static/boatmatelogo.jpg" />
        </div>
    <form action="/matrix_form" method="post">
        <div style="text-align:center">
          <input type="Submit" value="Begin"/>
        </div>
    </form>

{% endblock %}