<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Boatmate Scheduler</title>
</head>
<style>
    input[type=submit] {
    background-color: #808080;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
</style>
<body>
    <h1 align="center"> Daily Trailer Schedule Optimizer</h1>
    <h6 align="center"> Uses Trailer Weight System to Minimize the Total Weight in Rigging Line at All Times</h6>
        <div style="text-align:center">
            <img src="http://www.wakeboardingmag.com/sites/wakeboardingmag.com/files/styles/small_4x3/public/custom-touts/2015/10/boatmatelogo300dpi_1.jpg?itok=ihB8F0vw" alt="boatmate"/>
        </div>
    <form action="/matrix_form" method="post">
        <div style="text-align:center">
          <input type="Submit" value="Begin"/>
        </div>
    </form>
</body>
</html>