{% extends 'base.html' %}

{% block content %}
<br>
<h1 align="center"> Add/Delete Trailer Types and Components</h1>
    <br>
    <br>
       <table border = 1 class="table_on_the_left">
          <tr>
               <th style="background-color:#0000FF"> Trailer Type</th>
               <th style="background-color:#0000FF"> Associated Weight </th>
          </tr>

           {% for key,val in trailer_list.items() %}
          <tr>
              <td>{{ key }}</td>
              <td>{{ val }}</td>
          </tr>
           {% endfor %}


      </table>
       <!--Component Weight Table-->
       <table border = 1 class="table_on_the_right">
          <tr>
               <th style="background-color:#0000FF"> Component Type</th>
               <th style="background-color:#0000FF"> Associated Weight </th>
          </tr>
           {% for key,val in component_list.items() %}
          <tr>
              <td>{{ key }}</td>
              <td>{{ val }}</td>
          </tr>
           {% endfor %}

      </table>
        <br>
{% endblock %}