{% extends 'base.html' %}
{% block content %}
   <br>
    <h1 align="center"> Select the Trailers for the Day</h1>
   <form action="/output" method="post">
    <br>
    <br>
       <!--Daily Trailers-->

      <table border = 1 align="center">
          <tr>
               <th> Trailer Type</th>
              {% for component in component_list %}
               <th> {{ component }} </th>
              {% endfor %}
          </tr>

          {% for trailer in trailer_list %}
          <tr>
              <td>{{ trailer }}</td>
              {% for component in component_list %}
              <td>
                  <input type="number" name="trailer" value="0"/>
              </td>
              {% endfor %}
          {% endfor %}
          </tr>

      </table>
        <br>
        <input type="submit" Value="Submit">
        <br>
       <!--Set the Weights-->
       <h3 align="center"> Add/Modify Trailer Weights</h3>
        <button onclick="location.href='/change_weights'" type="button" >Change Weights</button>
       <br>

   </form>
   <br>
{% endblock %}