{% extends 'base.html' %}
{% block content %}
   <br>
    <h1 align="center"> Select the Trailers for the Day</h1>
   <form action="/output" method="post">
    <br>
    <br>
       <!--Daily Trailers-->

      <table border = 1 align="center">
          <tr>
               <th> Trailer Type</th>
              {% for component in component_list %}
               <th> {{ component }} </th>
              {% endfor %}
          </tr>

          {% for trailer in trailer_list %}
          <tr>
              <td>{{ trailer }}</td>
              {% for component in component_list %}
              <td>
                  <input type="number" name="trailer" value="0"/>
              </td>
              {% endfor %}
          {% endfor %}
          </tr>

      </table>
        <br>

       <!--Set the Weights-->

       <h1 align="center"> Set Weights</h1>
       <br>

       <!--Table For Trailer Type Weight-->
       <div style="text-align:center; float:left; margin-left:200px">
       <table border = 1 class="table_on_the_left">
          <tr>
               <th style="background-color:#0000FF"> Trailer Type</th>
               <th style="background-color:#0000FF"> Associated Weight </th>
          </tr>

          <tr>
              <td>Pontoon</td>
              <td>
                  <input type="number" name="t_weight" value="5"/>
              </td>
          </tr>
          <tr>
              <td>Moomba</td>
              <td>
                  <input type="number" name="t_weight" value="1"/>
              </td>
          </tr>
          <tr>
              <td>Chanel</td>
              <td>
                  <input type="number" name="t_weight" value="6"/>
              </td>
          </tr>
          <tr>
              <td>Allison</td>
              <td>
                  <input type="number" name="t_weight" value="4"/>
              </td>
          </tr>
           <tr>
              <td>Tige</td>
              <td>
                  <input type="number" name="t_weight" value="2"/>
              </td>
          </tr>
           <tr>
              <td>Master Craft</td>
              <td>
                  <input type="number" name="t_weight" value="2"/>
              </td>
          </tr>
           <tr>
              <td>Nautique</td>
              <td>
                  <input type="number" name="t_weight" value="2"/>
              </td>
          </tr>

      </table>
    </div>
       <!--Component Weight Table-->
    <div style="text-align:center; float:right; margin-right:270px">
       <table border = 1 class="table_on_the_right">
          <tr>
               <th style="background-color:#0000FF"> Component Type</th>
               <th style="background-color:#0000FF"> Associated Weight </th>
          </tr>

          <tr>
              <td>Pinstripes</td>
              <td>
                  <input type="number" name="c_weight" value="5"/>
              </td>
          </tr>
          <tr>
              <td>Runway</td>
              <td>
                  <input type="number" name="c_weight" value="5"/>
              </td>
          </tr>
          <tr>
              <td>Both (Pinstripe and Runway)</td>
              <td>
                  <input type="number" name="c_weight" value="9"/>
              </td>
          </tr>
          <tr>
              <td>None</td>
              <td>
                  <input type="number" name="c_weight" value="0"/>
              </td>
          </tr>

      </table>
        </div>
        <br>
       <br>

       <!--Submit Button-->
       <div style="float:left; margin-left:60px">
        <input type="submit" value="Submit"/>
       </div>
   </form>
   <br>
{% endblock %}