{% extends 'base.html' %}

{% block content %}
    <br>
    <table border="1" align="center">
        <tr>
            <th>Order</th>
            <th>Trailer Type</th>
            <th>Trailer Component</th>
            <th>Associated Weight</th>
            <th>Max Weight in Rigging Line</th>
        </tr>
        {% for i in range(num_trailers) %}
        <tr>
            <td>{{ i + 1 }}</td>
            <td>{{comp[i]}}</td>
            <td>{{final_weights[i]}}</td>
            <td>{{total[i]}}</td>
        </tr>
        {% endfor %}
    </table>
    <div style="text-align:center">
          <a href="/">Run Again</a>
    </div>
{% endblock %}
